{{ if eq .desktop_or_server "desktop" }}
  {{ if eq .chezmoi.os "linux" }}
    [".config/ibus/rime"]
        type = "archive"
        url = "https://github.com/ssnhd/rime/archive/refs/heads/master.zip"
        exact = true
        stripComponents = 2
        refreshPeriod = "24h"
        include = ["*/配置文件/**"]
  {{ end }}
  {{ if eq .chezmoi.os "darwin" }}
    ["Library/Rime"]
        type = "archive"
        url = "https://github.com/iDvel/rime-ice/archive/refs/heads/main.zip"
        exact = true
        stripComponents = 1
        refreshPeriod = "24h"
  {{ end }}
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/Tomyail/nvim_conf.git"
    refreshPeriod = "24h"
[".config/dracula/gnome-terminal"]
    type = "archive"
    url = "https://github.com/dracula/gnome-terminal/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/dracula/alacritty"]
    type = "archive"
    url = "https://github.com/dracula/alacritty/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/dracula/iterm"]
    type = "archive"
    url = "https://github.com/dracula/iterm/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/dracula/terminal-app"]
    type = "archive"
    url = "https://github.com/dracula/terminal-app/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ if eq .chezmoi.os "linux" }}
  [".fonts/Blex Mono Nerd Font Complete Mono.ttf"]
      type = "file"
      url = "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/IBMPlexMono/Mono/complete/Blex%20Mono%20Nerd%20Font%20Complete%20Mono.ttf"
      refreshPeriod = "168h"
  [".fonts/Blex Mono Bold Nerd Font Complete Mono.ttf"]
      type = "file"
      url = "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/IBMPlexMono/Mono/complete/Blex%20Mono%20Bold%20Nerd%20Font%20Complete%20Mono.ttf"
      refreshPeriod = "168h"
  [".fonts/Blex Mono Italic Nerd Font Complete Mono.ttf"]
      type = "file"
      url = "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/IBMPlexMono/Mono/complete/Blex%20Mono%20Italic%20Nerd%20Font%20Complete%20Mono.ttf"
      refreshPeriod = "168h"
{{ end }}
{{ end }}
['.vimrc']
    type = "file"
    url="https://raw.githubusercontent.com/amix/vimrc/master/vimrcs/basic.vim"
    refreshPeriod = "168h"
[".oh-my-zsh"]
    type = "git-repo"
    url = "https://github.com/ohmyzsh/ohmyzsh.git"
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".tmux"]
    type = "git-repo"
    url = "https://github.com/gpakosz/.tmux"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".tmux/plugins/tpm"]
    type = "archive"
    stripComponents = 1
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    refreshPeriod = "168h"
[".asdf"]
    type = "git-repo"
    url = "https://github.com/asdf-vm/asdf.git"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

