{{- $scene := default "" (env "CHEZMOI_SCENE") -}}
{{- if and (eq $scene "") (lstat .chezmoi.configFile) -}}
    {{- $currentConfig := fromToml (include .chezmoi.configFile) -}}
    {{- $scene = default "" $currentConfig.data.scene -}}
{{- end -}}
{{- if eq $scene "" -}}
    {{- $choices := list "mac_home" "mac_office" "wsl" "linux_server" -}}
    {{- $scene = promptChoice "Please select your scene" $choices -}}
{{- end -}}
{{- writeToStdout (printf "current scene is %s\n" $scene) -}}

[data]
    # mac_home | mac_office | wsl | linux_server
    scene = "{{ $scene }}"
