[submodule ".vim_runtime"]
	path = .vim_runtime
	url = git@github.com:Tomyail/vimrc.git
[submodule ".config/dracula/iterm"]
	path = .config/dracula/iterm
	url = https://github.com/dracula/iterm
[submodule ".config/dracula/terminal-app"]
	path = .config/dracula/terminal-app
	url = https://github.com/dracula/terminal-app
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".config/dracula/alacritty"]
	path = .config/dracula/alacritty
	url = /Users/lixuexin03/.config/alacritty
