if command -v nvim >/dev/null 2>&1; then
  alias vim="nvim"
fi

if command -v lazygit >/dev/null 2>&1; then
  alias lg="lazygit"
fi

if command -v eza >/dev/null 2>&1; then
  alias l='eza'
  alias la='eza -a'
  alias ll='eza -lah'
  alias ls='eza --color=auto'
fi

if command -v bat >/dev/null 2>&1; then
  alias cat='bat --style=plain'
fi

alias ccd="chezmoi cd"
alias cup="chezmoi update"

if command -v brew >/dev/null 2>&1; then
  alias bup="brew update && brew bundle --global && brew upgrade"
fi
