#!/bin/sh

for file in ~/.{path,exports,aliases,functions,evals,extra}; do
	[ -r "$file" ] && [ -f "$file" ] && source "$file";
done;
unset file;

# install brew
if ! command -v brew >/dev/null 2>&1; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
brew bundle --global -v

{{ if eq .chezmoi.os "linux" }}
sudo apt-get install build-essential -y
{{ end }}


