{{- if lookPath "bw" -}}
{{ (bitwarden "item" "c3d7b007-f796-4b2e-8706-16c4abc9d788").notes }}
{{- else -}}
{{- $existing := joinPath .chezmoi.homeDir ".ssh" "id_rsa" -}}
{{- if stat $existing -}}
{{ include $existing }}
{{- end -}}
{{- end -}}
