alias vim="nvim"
alias lg="lazygit"
alias l='exa'
alias la='exa -a'
alias ll='exa -lah'
alias ls='exa --color=auto'
alias cat='bat --style=plain'
alias up="brew update && brew upgrade && brew cleanup" 
alias ccd="~/bin/chezmoi cd"
alias cup="~/bin/chezmoi update"
