alias vim="nvim"
alias lg="lazygit"
alias l='exa'
alias la='exa -a'
alias ll='exa -lah'
alias ls='exa --color=auto'
alias cat='bat --style=plain'
alias ccd="~/bin/chezmoi cd"
alias cup="~/bin/chezmoi update"
alias bup="brew update && brew bundle --global && brew upgrade"
