# Roots of the synchronization
root = {{ .chezmoi.homeDir }}/source/personal/blog
root = {{ .chezmoi.homeDir }}/Library/Mobile Documents/iCloud~md~obsidian/Documents/default

# Paths to ignore
ignore = Name {.git}
ignore = Name {node_modules}
ignore = Name {.DS_Store}
ignore = Name {.obsidian}
ignore = Name {Excalidraw}
ignore = Name {anki}
ignore = Name {draws}
ignore = Name {config.ts}
ignore = Name {pages/archives}

# Additional options (optional)
auto = true
batch = true


# 如果冲突，优先使用nextcloud的数据
prefer = {{ .chezmoi.homeDir }}/Library/Mobile Documents/iCloud~md~obsidian/Documents/default

